/*Nav bar*/
a.navbar-brand {
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 24px;
            line-height: 20px;
            text-decoration: none;
            color: orangered;
            font-family: cursive;
            font-weight: 700;

        }

        nav.main-navigation {
            position: relative;
        }

        nav.main-navigation ul.nav-list {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
            text-align: right;
        }

        .nav-list li.nav-list-item {
            display: inline-block;
            line-height: 40px;
            margin-left: 30px;
            margin-top: 15px;
        }

        a.nav-link {
            text-decoration: none;
            font-size: 20px;
            font-family: sans-serif;
            font-weight: 500;
            cursor: pointer;
            position: relative;
            color: #404040;
        }

        @keyframes FadeIn {
            0% {
                opacity: 0;
                transition-duration: 0.8s;
                transform: translateY(-10px);
            }


            100% {
                opacity: 1; 
                transform: translateY(0);
                pointer-events: auto;
                transition: cubic-bezier(0.4, 0, 0.2, 1);
            }
        }

        .nav-list li {
            animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
            animation-fill-mode: both;
        }

        .nav-list li:nth-child(1) {
            animation-delay: .3s;
        }

        .nav-list li:nth-child(2) {
            animation-delay: .6s;
        }

        .nav-list li:nth-child(3) {
            animation-delay: .9s;
        }

        .nav-list li:nth-child(4) {
            animation-delay: 1.2s;
        }



/*Contact Form*/
.wrapper{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
}

.container{
    border-style: solid;
    border-color: #DDD;
    background-color: #F5F5F5;
    padding-top: 100px;
    padding-bottom: 50px;
}

p, #submit-button{
    font-family: Helvetica;
    font-size: 1rem;
}

label {
    font-family: Helvetica;
    font-size: 2rem;
    border-style: solid;
    border-radius: 5px;
    border-color: #DDD;
    padding: 15px;
    position: absolute;
    top: -140px; 
    background-color: white;
}

#submit-button{
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #6495ED;
    color: white;
    border-style: none;
    border-radius: 8px;
}

#text-message{
    padding-top: 15px;
}


/*Footer*/
.footer{
    background-color: #AFC4D2;
    padding: 30px;
    margin-top: 100px;
}


.text-center a {
    color: #386D90;
}


.social:hover {
     transform: scale(1.1);
 }
 .social {
     transform: scale(0.8);
     transition-duration: 0.5s;
 }

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-ins:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

.footer .footer-copyright {
    position: relative;
    bottom:-30px;
}

.center-block {
    position: relative;
    bottom:-20px;
}